<!DOCTYPE html>
<head>
  <title>Generative Stalagmites</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='stalagmite.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
	<form action="/stalagmite" method="GET">
		<div style="width:{{ res }}px; margin:0 auto;">
			<label for="prompt">Prompt : </label>
			</br>
			<textarea name="prompt" id="prompt" style="width: 100%; margin:0 auto; height: 100px;">{{ prompt }}</textarea>
			</br>
			<input type="submit">
		</div>
	</form>
	{% if image_data %}
  <div style="width:{{ res }}px; margin:0 auto;">
	<img src="data:image/png;base64, {{ image_data }}"/>
  </div>
  {% endif %}
  
</body>
